<div class="row">
    <div class="col-md-12">
        <div class="table-wrapper">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <td>#</td>
                    <td>Team Name</td>
                    <td>PM</td>
                    <td>Customer</td>
                </thead>
                <tbody>
                    {% for group in groups %}
                        <tr data-toggle="collapse" data-target="group-info-{{$index}}"> 
                            <td>
                                <span><i class="fa fa-caret-right" /> {{ group.number }}</span>
                            </td>
                            <td>
                                {{ group.name }}
                            </td>
                            <td>
                                {{ group.pm_user.displayName }}
                            </td>
                            <td>
                                {{ group.customer_user.displayName }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" id="group-info-{{$index}}">
                                <table class="table table-striped">
                                    {% for student in group.students %}
                                        <tr>
                                            <td>{{ student.username }}</td>
                                            <td>{{ student.displayName }}</td>
                                            <td>{{ student.email }}</td>
                                            <td>{{ student.year }}</td>
                                            <td>{{ student.major }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>