{% include "navbar.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Initial Seed Data Uploader</h2>
        </div>
    </div>
    <div class="row">
        <form>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="csvFile">Select a file</label>
                    <input type="file" id="csvFile">
                    <p class="help-block">Format explected: CSV</p>
                </div>
            </div>
            <div class="col-md-8">
                <button type="submit" class="btn btn-primary">Upload and Parse</button>
            </div>
        </form>
    </div>
    <div class="row">
        
    </div>
</div>
